<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        .click-button {
            padding: 10px 20px;
            background-color: rgb(26, 255, 0);
            color: white;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            left: 46%;
            top: 39%;
        }
    </style>
</head>

<body>
    <a href="/register"><button class="click-button">Click Here</button></a>
</body>

</html>